<div class="container-fluid">
    <div class="row-fluid">
        <div id="flash-messages" class="" style="display: none;">
            <a class="close" href="#">&times;</a>
            <strong></strong>
        </div>
    </div>
</div>

