@Html.Partial("_Flash")

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/aseinges/modal.css" rel="stylesheet" />
<div id="divProgress" class="containermodal" style="display: none">
    <div class="ajaxProcessingContainerDiv">
        <div class="ajaxProcesingTable">
            <img src="~/assets/images/ajax-loader.gif" />
        </div>
    </div>
</div>
